<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="/static/css/stylev2.css">
    <title>Bouncer</title>
</head>
<body>
    <div class="container centered-container" id="centered-container">
        <h1>Welcome {{ name }}</h1>
        <p>Click the button below to join the video call:</p>
        <a href="{{ link }}" class="button" target="_blank">Join Video Call</a>
    </div>
</body>
</html>
